honcho
gunicorn
celery-redbeat
slackclient==2.9.4

git+https://github.com/superdesk/superdesk-core.git@release/2.9#egg=superdesk-core
git+https://github.com/superdesk/superdesk-planning.git@release/2.9#egg=superdesk-planning
git+https://github.com/superdesk/superdesk-analytics.git@release/2.10#egg=superdesk-analytics
